@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 14, 14, 18; /*214, 219, 220;*/
  --background-end-rgb: 13, 13, 13; /*255, 255, 255;*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 14, 14, 18;
    --background-end-rgb: 13, 13, 13;
  }
}

body {
  width: 100vw;
  /*height: 100vw;*/
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::backdrop {
  background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  --tw-gradient-to: #bb9bff var(--tw-gradient-to-position);
  --tw-gradient-from: #e4bcbb var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

@media (prefers-color-scheme: dark) {
  ::backdrop {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
    --tw-gradient-to: #000 var(--tw-gradient-to-position);
    --tw-gradient-from: #2a1a4a var(--tw-gradient-from-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
}